body{
    font-family: cursive;
}

.fa{
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
}

.fa-minus::before{
    content: "\f068";
}

.productOldPrice{
    text-decoration: line-through;
    display: none;
    color: #999;
}

.promotion{
    display: none;
    font-size: large;
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }

  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #saunaImg{
    max-width: 100%;
    cursor: zoom-in;
  }

  .imgModal{
    max-width: 100%;
  }

  .productNewPrice{
    font-size: x-large;
  }

  .table{
      color: white;
  }

  .googleLogo{
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .googleData{
      text-align: center;
  }
